/* *{
        box-sizing: border-box;
    }
    
    body{
        margin: 0%;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
    /* } */

    /* body{
        
    } */
    
    input{
        padding: 1rem;
        border-radius: 25px;
        border: none;
        background-color: rgb(145, 218, 193);
        box-shadow: inherit;
        min-width: 300px;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    input:focus{
        outline: none;
    }

    #main{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: -40px;
    }
    
    #form{
        display: flex;
        justify-content: center;
        margin-top: 80px;


    }
    .weather{
        /* text-align: center; */
        font-size: 2.5rem;
    }
    
    .weather h2{
        margin-bottom: auto;
        display: flex;
        align-items: center;
    } 


/*  */

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    /* border-bottom: 2px solid black; */
    background-color: rgb(24, 71, 71);
    width: 100vw;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:0; */
}

/* .hamburger{
    display: none;
} */
/* .bar{
    display: block;
    width: 25px;
    height: 3px;
    /* margin: 5px auto; */
    /* -webkit-transition: all 0.3s ease-in-out; */
   /* transition: all 0.3s ease-in-out;
    background-color: brown;
} */

.navMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}






.navLogo{
    font-size: 2.12rem;
    font-weight: 500;
    color: rgb(93, 228, 172);
}



/* MAIN DIV */
 .mainDiv{
    height: 500px;
    width: 100vw;
    border-top: 1px solid rgb(24, 71, 71);
    background-color: rgb(24, 71, 71);
    color: aliceblue;
}
/*  
div{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border: 2px solid red;
} */

/* contact */

footer{
    position: sticky;
    
    background-color: rgb(24 71 71);
    width: 100vw;
    /* height: 320px; */
    display: flex;
    /* justify-content: space-around; */
}

.contactsec{
    width: 33vw;

}

.aboutMe{
    width: 46vw;
    text-align: center;
}

.aboutdiv{
    /* padding-left: 254px; */
    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 0);
    color: antiquewhite;
}







/* section work */
.section{
    /* background-color: aqua; */
    height: auto;
    width: 100vw;
    /* border: 1px solid black; */
    border-top: 1px solid ;
    display: flex;
    justify-content: space-around;
    background-color: rgb(24, 71, 71);
    /* flex-direction: column; */
}

.education{
    width: 28vw;
    height: auto;
    /* border-top: 1px solid rgb(20, 0, 41); */
    color: antiquewhite;
}

/* .skills{
    /* width: 100vw; */
    /* height: auto; */
    /* border-top: 1px solid rgb(20, 0, 41); */
   
    /* background-color: rgb(128, 128, 128); */
/* } */ 

/* section */

.sectionh3{
    text-align: center;
    text-decoration: underline;
}

.details{
    margin-inline-start: 95px;
}
summary{
    font-size: large;
    margin-top: 12px;
    padding-bottom: 2px;
    color: antiquewhite;
    /* text-decoration: underline; */
}

/* 
SKILLSS WORKS */

.skillFont{
    display: block;
    /* border: 2px solid red; */
    text-align: center;
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    padding-left: -18px;
    margin-left: -50px;
}

section.skills{
    width: 100vw;
}

.skills{
    /* width: 100vw; */
    padding-top: 12px;
    padding-bottom: 10px;
    /* margin-left:; */
    /* padding-left: 15px; */
    display: flex;
    align-items: center;
    display: grid;
    background-color: rgb(24, 71, 71);
}

.length{
    width: 100%;
    background-color: rgba(233, 247, 170, 0.938);
    margin-right: 15px;
    text-align: center;
    font-weight: bold;
}

.skillshtml{
    width: 90%;
    background-color: rgb(0, 117, 78);
}

.skillscss{
    width: 80%;
    background-color: rgb(50, 168, 168);
}

.skillsop{
    width: 50%;
    background-color: rgb(116, 64, 66);
}

.skillsjs{
    width: 75%;
    background-color: rgb(187, 206, 14);
}

.skillssql{
    width: 55%;
    background-color: rgb(13, 78, 116);
}

.skillbox{
    width: 80vw;
    margin-left: 8vw;
    
}

.last{
    height: 210px;
    width: 100vw;
    background-color:rgb(24, 71, 71) ;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

.icon{
    /* border: 2px solid red; */
    height: 180px;
    width: 30vw;
    display: block;
    align-items: center;
    /* justify-content: space-around; */
}

.link{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 50px;

}

.link a:hover{
    transform: scale(1.3);
}
.msg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* icpn */

.fa-github{
    color: rgb(0, 0, 0);
}
.fa-twitter{
    color: rgb(1, 202, 238);
}
.fa-linkedin{
    color: rgb(36, 6, 211);
}
.fa-at{
    color: rgb(241, 145, 121);
}

/* rating */

.rating{
    /* border: 2px solid red; */
    height: 180px;
    width: 30vw;
    display: grid;
    /* flex-direction: row; */
    justify-content: center;
    color: antiquewhite;
}
.rating-text{
    margin-top: 20px;
}

.rating-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rating-wrap a{
    color: aliceblue;
    
    transition: all 0.5s;
}

.rating-wrap a:hover{
    color: gold;
    transform: scale(1.3);
}

s1:hover{
    color: gold;
}
s2:hover{
    color: gold;
}
s3:hover{
    color: gold;
}
s4:hover{
    color: gold;
}
s5:hover{
    color: gold;
}



/* feedback */
.feedback{
    /* border: 2px solid red; */
    height: 180px;
    width: 30vw;
    display: grid;
    direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    color: antiquewhite;
}

.feedback-txt{
    margin-bottom: 10px;
}

#f{
    height: 25px;
    width: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: small;
}
#fb{
    margin-top: 5px;
    width: 155px;
    height: 28px;
    border-radius: 12px;
    text-align: center;
    background-color: aquamarine;
    margin-left: 100px;
    font-size: small;
}
#fb:hover{
    color: rgb(253, 253, 253);
    box-shadow: inset;
    background-color: rgb(0, 0, 0);
}
/* --------------------- */

@media  (max-width: 780px){.last{
    display: grid;
    direction: row;
    height: fit-content;
    width: 100vw;

}}

@media (max-width: 780px){.section{
    display: grid;
    direction: row;
    height: fit-content;
    width: 100vw;
}
}